[submodule "Libraries/Wrench"]
	path = Libraries/Wrench
	url = https://github.com/karpinsn/Wrench.git
[submodule "Libraries/Antenna"]
	path = Libraries/Antenna
	url = https://github.com/karpinsn/Antenna.git
