[submodule "Libraries/Wrench"]
	path = Libraries/Wrench
	url = https://github.com/karpinsn/Wrench.git
[submodule "Libraries/Antenna"]
	path = Libraries/Antenna
	url = https://github.com/karpinsn/Antenna.git
[submodule "Libraries/3rdParty/glm"]
	path = Libraries/3rdParty/glm
	url = https://github.com/karpinsn/glm.git
[submodule "Libraries/Lens"]
	path = Libraries/Lens
	url = http://github.com/karpinsn/Lens.git
[submodule "Libraries/GTest"]
	path = Libraries/GTest
	url = https://github.com/karpinsn/googletest.git
